@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F5F8;
  color: #1A1E2E;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer components {
  .page-heading {
    @apply text-xl font-semibold text-texto;
  }
}
